:root {
  --text-color: #212121;
  --logo-color: #2196f3;
  --nav-hover-color: #2196f3;
  --title-color: #ffffff;
  --background-color: #ffffff;
  --our-team-background-color: #f5f4fa;
  --contacts-color: #757575;
  --headerlogo-color: #000000;
  --hero-background-color: #2f303a;
  --button-background-color: #2196f3;
  --button-color: #ffffff;
  --portfolio-text-color: #757575;
  --footer-background-color: #2f303a;
  --footer-logo-color: #ffffff;
  --address-footer-color: #ffffff90;
  --address-item-footer-color: #ffffff;
  --portfolio-button-background-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

body {
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--text-color);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-correct-section {
  padding-bottom: 0;
}

.our-team-correct-section {
  background-color: var(--our-team-background-color);
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
}

.logo {
  padding: 24px 0 25px 0;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.15;
  color: var(--headerlogo-color);
  text-decoration: none;
}

.logo-first-part {
  color: var(--logo-color);
}

.navigation-list {
  margin-left: 93px;
  display: flex;

  font-weight: 500;
  line-height: 1.1;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.link-nav-item {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--text-color);
}

.link-nav-item:hover,
.link-nav-item:focus {
  color: var(--nav-hover-color);
}

.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--nav-hover-color);
  border-radius: 2px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.contact-list {
  display: flex;

  font-weight: 500;
  line-height: 1.1;
  color: var(--contacts-color);
}

.contact-item:nth-last-child(2n) {
  margin-right: 50px;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.1;
  color: var(--contacts-color);
  text-decoration: none;
  margin-left: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--logo-color);
}

.header-icon-envolve,
.header-icon-smartphone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .header-icon-envolve,
.contact-link:focus .header-icon-envolve {
  fill: var(--button-background-color);
}

.contact-link:hover .header-icon-smartphone,
.contact-link:focus .header-icon-smartphone {
  fill: var(--button-background-color);
}

.header-icon-envolve,
.header-icon-smartphone {
  margin-right: 10px;
  fill: var(--contacts-color);
}

/* main section */

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
  letter-spacing: 0.06em;

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/titleimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  padding-right: 252px;
  padding-left: 252px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--title-color);
}

.button {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;
  margin-top: 30px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--button-background-color);
  color: var(--button-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

/* peculiarities section */

/* HIDDEN TITLE */
.peculiarities-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pecularities-icon-container {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pecularities-list {
  display: flex;
}

.pecularities-item {
  margin-right: 30px;
  width: 100%;
}

.pecularities-item:last-child {
  margin-right: 0;
}

.after-title-peculiarities {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 10px;
}

.text-peculiarities {
  line-height: 1.71;
  color: var(--contacts-color);
}

/* what we do section*/

.what-we-do-title {
  margin-bottom: 50px;
  text-align: center;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-item {
  position: relative;

  margin-right: 30px;
}

.what-we-do-item:last-child {
  margin-right: 0;
}

.after-title-what-we-do {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  padding: 27px 0;

  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--title-color);
}

/*our team section*/
.our-team-title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

.our-team-list {
  display: flex;
}

.our-team-item {
  text-align: center;
  margin-right: 30px;

  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:last-child {
  margin-right: 0;
}

.our-team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.our-team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--contacts-color);
}

.our-team-contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.our-team-contact-item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.our-team-contact-item:last-child {
  margin-right: 10px;
}

.our-team-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 50%;
  width: 100%;
  width: 100%;
}

.our-team-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.our-team-link:hover,
.our-team-link:focus {
  background-color: #2196f3;
}

.our-team-link:hover .our-team-icon,
.our-team-link:focus .our-team-icon {
  fill: var(--background-color);
}

/* CLIENTS */
.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  margin-right: 30px;
  width: 170px;
  height: 92px;
  display: flex;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

/* footer */

.footer-container-main {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--footer-logo-color);
  text-decoration: none;
}

.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-style: normal;
  line-height: 1.7;
  color: var(--address-footer-color);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--address-item-footer-color);
}

.footer-list {
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-links-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*   margin-left: 70px; */
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-color);
}

.footer-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-icon-item {
  display: flex;
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.footer-icon-item:last-child {
  margin-right: 0px;
}

.icon-footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.icon-footer {
  fill: var(--background-color);
}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: #2196f3;
}

.footer-follow-form {
  display: flex;
}

.follow-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-text {
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--button-color);
}

.follow-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.follow-button {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-button:hover,
.follow-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.follow-icon {
  margin-left: 10px;
  fill: var(--button-color);
}

/* portfolio page*/

/* HIDDEN TITLE PORTFOLIO */
.portfolio-hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 54px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.portfolio-buttons-item > .portfolio-button {
  padding: 6px 22px;

  margin-right: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-color);
  background-color: var(--portfolio-button-background-color);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--button-background-color);
  color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  text-decoration: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  color: var(--title-color);
}

.portfolio-top-text:hover,
.portfolio-top-text:focus {
  opacity: 1;
}

.text-container {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-list-title {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--text-color);
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--portfolio-text-color);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 500ms linear, visibility 500ms linear;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  transform: rotate(70deg);
  transition: transform 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom left;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus,
.modal-close:hover {
  fill: var(--button-background-color);
}

.is-hidden {
  visibility: 101%;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-form-input {
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus {
  border-color: var(--button-background-color);
}

.modal-form-input:focus + .modal-icons {
  fill: var(--button-background-color);
}

.input-wrap {
  position: relative;
}

.modal-icons {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
}

.modal-form-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-form-text:focus {
  border-color: var(--button-background-color);
}

.modal-checkbox {
  position: relative;
}

.modal-policy {
  line-height: 1.71;
  color: var(--contacts-color);
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.checkbox-item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
  margin-top: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  position: absolute;
  top: 23px;
  left: 17px;
  fill: var(--background-color);
}

.input-checkbox:checked + .modal-policy .checkbox-item {
  background-color: var(--button-background-color);
  border: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.modal-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: 4px;
  border: none;
  padding: 10px 56px;
  cursor: pointer;
  margin: 30px auto 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
