

.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
.peculiarities-correct-section {
    padding-bottom: 0;
  }
  
.our-team-correct-section {
    background-color: var(--our-team-background-color);
  }